<!-- Navigation -->
<div class="bg-dark">
  <ul class="nav justify-content-end bg-dark py-1">
    <li class="nav-item">
      <a class="nav-link text-white" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/create-account">Create Account</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/profile">Profile</a>
    </li>
  </ul>
</div>