    <div class="container-fluid bg-secondary">
      <div class="row">
        <div class="mx-auto">
          <div id="display" style="width: 500px; height: 600px"></div>
          </div>
       </div>
    </div> 


    <script src="js/index.js"></script>