<!-- Header/Title -->
<div class="jumbotron jumbotron-fluid bg-success text-white p-4 mb-0">
  <div class="container bg-success">
    <div class="row">
      <div class="col-md-9">
        <h1 class="display-3 font-weight-bold">Book Finder</h1>
        <h5 class="font-weight-light">Not sure if you found the right book?  Take advantage of our "Book Finder" and find exactly what you are looking for!</p>
      </div>
      <div class="col-md-3 text-center">
        <img src="./images/stacked_books1.jpg" alt="Stacked Books" >
      </div>
    </div>
  </div>
</div>


<!-- Search Bar -->
<div class="container-fluid bg-secondary mt-5">
  <div class="main">   
    <div class="row">
      <div id="input" class="input-group mx-auto col-lg-6 col-md-8 col-sm-12 mt-5">
        <input id="search-box" type="text" class="form-control" placeholder="Search Books">
        <button id="search" class="btn btn-dark" onclick="">Search</button>
      </div>
    </div> 
    <div class="book-list">
      <h2 class="text-white text-center">Search Results</h2>
        <div id="list-output" class="">
          <div class="row">
          </div>
        </div>
    </div>
  </div> 
</div> 

<!-- Footer -->
<div class="container-fluid p-0 fixed-bottom">

  <div class="bg-dark">
    <ul class="nav justify-content-center bg-dark pt-3 pb-2">
      <p class="text-white">The Breakfast Club - Copyright 2019 ©</p>
    </ul>
  </div>
</div>


<script src="js/index.js"></script>