<div class="jumbotron jumbotron-fluid bg-success text-white p-0 mb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="display-3 font-weight-bold">Login</h1>
      </div>
      <div class="col-md-3 text-center">
        <img class="books-img" src="./images/stacked_books.jpg" alt="Stacked Books" >
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!-- Form -->
<div class="container">

  <div class="row">
    <div class="col-12 col-lg-6 mx-auto mt-5">
      <div class="row">
        <div class="col-md-6 col-12 mx-auto">
          <h4>Login</h4>
        </div>
      </div>
      <form id="login">
        <div class="form-row">
          <div class="form-group col-md-6 col-12 mx-auto">
            <label for="login-email">Email</label>
            <input type="email" class="form-control" id="login-email" placeholder="Email">
          </div>
          </div>
          <div class="form-row">
          <div class="form-group col-md-6 col-12 mx-auto">
            <label for="login-password">Password</label>
            <input type="password" class="form-control" id="login-password" placeholder="Password">
            <p id="failed-login" style="display:none">Incorrect Password</p>
          </div>
        </div>
        <button="submit" class="btn btn-primary btn-lg btn-block col-md-6 col-12 mx-auto" id="login-btn">Login </button>
      </form>
    </div>
  </div>
</div>


<div class="container-fluid fixed-bottom p-0">
  <div class="row">
    <div class="col-12">
 <div class="bg-dark">
      <ul class="nav justify-content-center bg-dark pt-3 pb-2">
        <p class="text-white">The Breakfast Club - Copyright 2019 ©</p>
      </ul>
    </div>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>
