

<!-- Header/Title -->
<div class="jumbotron jumbotron-fluid bg-white text-dark mb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="display-3 font-weight-bold">Profile</h1>
        <h5 class="font-weight-light">Thanks for completeing your profile <span id="welcome-banner"></span>. Be sure to update it frequently in order to have the most updated information.</p>
      </div>
      <div class="col-md-3 text-center">
        <img src="./images/stacked_books.jpg" alt="Stacked Books" class="img-thumbnail border-white">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7">

  </div>
</div>

<!-- Form -->
<div class="row bg-secondary border border-dark">
    <div class="col-md-6">
        <img src="./images/profile_pic.jpg" class="img-fluid" alt="The Road Less Traveled">
    </div>
    <div class="col-md-5 ml-4">
        <div class="row">
            <div class="form-group col-md-12 text-center mt-5">
                <h3>Profile Bio</h3>
            </div>
        </div>
        <form id="create-account">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="input-first-name">First Name</label>
              <input type="text" class="form-control" id="input-first-name" placeholder="First Name">
            </div>
            <div class="form-group col-md-6">
              <label for="input-last-name">Last Name</label>
              <input type="text" class="form-control" id="input-last-name" placeholder="Last Name">
            </div>
            <div class="form-group col-md-6">
              <label for="input-email">Email</label>
              <input type="email" class="form-control" id="input-email" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
              <label for="input-password">Password</label>
              <input type="password" class="form-control" id="input-password" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <label for="input-address">Address</label>
            <input type="text" class="form-control" id="input-address" placeholder="1234 Main St">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="input-city">City</label>
              <input type="text" class="form-control" id="input-city">
            </div>
            <div class="form-group col-md-2">
              <label for="input-zip">Zip</label>
              <input type="text" class="form-control" id="input-zip">
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-lg btn-block border-dark" id="signup-btn">Create Account</button>
        </form>
    </div>
</div>

<!-- Footer -->
<div class="bg-dark">
  <ul class="nav justify-content-center bg-dark pt-3 pb-2">
    <p class="text-white">The Breakfast Club - Copyright 2019 ©</p>
  </ul>
</div>

<script src="/js/user.js"></script>