<!-- Header/Title -->
<div class="jumbotron jumbotron-fluid bg-success text-white mb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="display-3 font-weight-bold">Profile</h1>
        <h5 class="font-weight-light">Thanks for completeing your profile <span id="welcome-banner"></span>. Be sure to
          update it frequently in order to have the most updated information.</p>
      </div>
      <div class="col-md-3 text-center">
        <img src="./images/stacked_books.jpg" alt="Stacked Books" class="img-thumbnail border-white">
      </div>
    </div>
  </div>
</div>

<!-- Form -->
<div class="container">
  <div class="row">
    <div class="col-5">
      <img src="./images/profile_pic.jpg" class="img-fluid" alt="Profile Picture">
    </div>
    <div class="form-group col-5 text-center mt-5">
      <h3>Profile</h3>
      <div class="row">
        <div class="col-12 text-left">
          <ul>
            <li class="profile-info-display">Email: <span id="profile-email"></span></li>
            <li class="profile-info-display">Name: <span id="profile-name"></span></li>
            <li class="profile-info-display">Address: <span id="profile-address"></span></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <button id="delete-profile" class="btn bg-danger">Delete Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Footer -->
<div class="container-fluid p-0 fixed-bottom">
  <div class="bg-dark">
    <ul class="nav justify-content-center bg-dark pt-3 pb-2">
      <p class="text-white">The Breakfast Club - Copyright 2019 ©</p>
    </ul>
  </div>
</div>


<script src="/js/user.js"></script>