body {
  padding:0 !important;
}
::-webkit-scrollbar {
  display: none;
}

.list-group-item {
  line-height: 2.5;
}


.main{
  margin-top: -50px;
}
#title{
  margin-top: 0px;
}

#header {
  font-size: 3rem;
}
.book-list {
  margin-top: 50px;
  visibility:hidden;
}
.footer{
  margin-bottom: -50px;
} 
.card{
  margin-bottom: 60px;
}
form.signup,
form.login {
  margin-top: 50px;
}

.profile-info-display {
  text-decoration: none;
  list-style: none;
}

.books-img{
  width:50px;
}
