body {
  padding:0 !important;
}
::-webkit-scrollbar {
  display: none;
}

.list-group-item {
  line-height: 2.5;
}
form.signup,
form.login {
  margin-top: 50px;
}

.profile-info-display {
  text-decoration: none;
  list-style: none;
}
